nav{
    display:flex;
          
    justify-content: end;
    gap: 30px;
background-color: lightpink;
height: 70px;
width: 1333px;
}

.about :hover{
    background-color:#f30574 ;
    
}
.skills :hover{
    background-color: coral;
}
.contact :hover{
    background-color:indianred;
}
.Rach{
   
 font-size: 70px;
 display: flex;
 align-self: start;
 
 padding-right: 308px;
 

}
h1{
    font-size: 100px;
    font-weight: 500;
    justify-self: center;
    padding-left: 400px;
    font-family: "Sevillana", cursive;
  font-weight: 400;
}
p{
    font-size: 40px;
    padding-left: 500px;
    font-family: "Playwrite BE VLG", cursive;
}
.container{
    background-image:url('../assets/oo.png') ;
    background-repeat: no-repeat;
    background-size: cover;
} 
#home{
    background-color: lightcyan;
}
span{
    color: white;
}
@media(max-width:1201px) {
    body{
background-position: fixed;
width: 800px;
    }
    .header{
        font-size: 30px;
        position: fixed;
        position:static;
    }
    .Rach{
        font-size: 20px;
        
        
    }
    h1{
        font-size: 30px;
        padding-left: 250px;
    }
    p{
        font-size: 30px;
        padding-left: 250px;
    }
    .container{
        background-position: fixed;
        width: 800px;
    }
    nav{
        background-position: fixed;
        display: inline-block;
        
        width: 800px;
    }
    nav .bar{
        background-position: fixed;
        display: flex;
        gap: 10px;
        padding-left: 200px;
        
        padding-bottom: 200px;
        font-size: 20px;
    }
    
}
    
